/* #---------------------------------------------------#
css utama
#---------------------------------------------------# */

/* set semua elemen ke border-box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 3px; */
}

.column {
  flex: 25%;
  max-width: 25%;
  /* margin: 0 3px; */
}

.img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
